* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 44px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: -0.012em;
    color: #ffffff;
    margin-bottom: -5px;
}

h2 {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    color: #333333;
    margin-bottom: 17px;
}

h3 {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

h5 {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
}

h6 {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
    color: #ffffff;
}

button {
    width: 364px;
    height: 61px;
    background-color: #CBCBCB;
    border-radius: 50px;
    border: none;
}

ion-icon {
    color: #32B72F;
    font-size: 20px;
}

.preco  {
    font-weight: 400;
    color: #000000;
}

.fundo {
    background-color: #E5E5E5;
    position: relative;
    width: 100%;
    height: 100%;
}

.topo {
    background-color: #CF2B2B;
    width: 100%;
    height: 92px;
    padding: 8px 0 0px 21px;
    position: fixed;
    z-index: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.conteudo {
    margin-top: 123px;
    margin-bottom: 108px;
}

.cardapio {
    margin: 27px 0 16px 19px;
}

.cardapio > div {
    display: flex;
    overflow-x: scroll;
}

.item {
    background-color: #ffffff;
    padding: 0 14px;
    height: 216px;
    border-radius: 9px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}

.borda-verde {
    border: 5px solid #32B72F;
    padding: 0 9px;
}

.esconder {
    display: none;
}

.informacoes {
    width: 144px;
    height: 186px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.informacoes div {
    display: flex;
    justify-content: space-between;
}

.informacoes img {
    width: 144px;
    height: auto;
    object-fit: cover;
}

.fechar-pedido {
    background-color: #ffffff;
    width: 100%;
    height: 92px;
    position: fixed;
    z-index: 1;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desabilitado {
    cursor: not-allowed;
}

.fundo-verde {
    background-color: #32B72F;
}

@media (max-width: 450px) {
    .topo .fechar-pedido .fundo button{
        width: 100%;
    }
}